@import url('https://dsrev.ru/assets/fonts/sansation_regular/stylesheet.css');

html {
    font-family: 'sansationregular', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    margin: 0;
    background-color: #121212;
    color: #EDEDED;
    line-height: 1.5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

a {
    color: #EDEDED;
    text-decoration: none;
}

a:hover, .link {
    text-decoration: underline;
}

.content {
    margin: auto;
    max-width: 500px;
    padding: 20px;
}

.content-big {
    margin: auto;
    max-width: 800px;
    padding: 20px;
}

.logo {
    margin-top: 5px;
    width: 45px;
}

ul {
    padding-left: 14px;
}

.logo-big {
    width: 450px;
}

.socials a {
    padding: 5px;
    color: #EDEDED;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

/* the dark theme will be default. */
@media (prefers-color-scheme: light) {
    body {
        background-color: #EDEDED;
        color: #121212;
    }

    .logo, .logo-big {
        filter: invert();
    }

    a {
        color: #121212;
    }

    .socials a {
        color: #121212;
    }
}